{% extends 'base.html.twig' %}
{% block body %}
<h5 class="mb-3"><a style="text-decoration: none; color: #009900;" href="{{ path('addProduct') }}"> AddProduct</a>
    <h5 class="mb-3"><a style="text-decoration: none; color: #009900;" href="{{ path('updateProduct') }}"> <Update></Update>Product</a>

{% endblock %}
